<div class="form-inline clearfix" style="margin-left:1rem;">
  <div class="nested-fields">
    <div class="row">
      <div class="col l9" style="padding-top:1.2rem;">
        Added!
      </div>
      <div class="col l7" style="padding-right:0;">
        <%= f.text_field :language, :style => "width:100%;", :class => 'form-control',
        :placeholder => "Any Language you speak", autofocus: false  %>
      </div>
    
      <div class="col l2" style="padding-right:0;">

        <%= link_to_remove_association "Remove", f, class: "waves-effect waves-light btn left" %>
      </div>
    </div>

  </div>
</div>
