

<div class="cf" style="width:60%;margin:0 auto;">
	<div class="row cf" style="width:100%;">
		<h5 class="cf" style="font-size:1.4rem;text-align:center;">
			Have you talked to the mentor?  <br>
			Please get in touch with the mentor first!! :) <br>
			We take no Commission for now :)
		</h5>

	</div>
	<div class="row" style="width:100%;">
		<div class="" style="float:left;">
				<%= render "userportrait" %>
		</div>
		<%= form_for([@user, @user.reservations.new]) do |f| %>
		<div class="col l10" style="">
			<%= render 'reservations/form', f: f %>
			<div class="cf" style="float:right;">
				+ Paypal Transaction Fees(3.9%) <br>
				<a href="https://www.paypal.com/webapps/mpp/paypal-fees">About Paypal Fees</a>
			</div>
		</div>
		<%= f.submit "Send Through Paypal", class: "waves-effect waves-light btn", style: "float:right;margin-top:2rem;" %>
		<% end %>
	</div>


</div>
