<div id="test2" class="col s12 l10 offset-l1">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Can you find a mentors/tutors for me?</div>
      <div class="collapsible-body"><p>
        We do not match students with mentors/tutors. Please try searching by country or school to browse mentors/tutors.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>How does this work?</div>
      <div class="collapsible-body">
        <p>
          On this site you can find an exceptional one-on-one mentors/tutors your interest. It takes just seconds and it's free to contact them. Select a mentors/tutors you like by country, school, experience, price, and rating. Then contact the mentor/tutor directly by filling out the form on their profile page.

You may want to contact several mentors/tutors to find the right one for you. You can handle all scheduling and payment directly with the mentor/tutor, we'll stay out of your way. You can login to your account at any time to view the mentor/tutor you've worked with and rate them. Create an account before you contact your first mentors/tutors.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Where are mentors/tutorsing sessions held?</div>
      <div class="collapsible-body">
        <p>
          Most mentors/tutorsing sessions are held online, allowing you the flexibility to receive instruction anywhere. mentors/tutors will help select the online platform that works best for the material they will be instructing. mentors/tutors may also meet in person, at a place that is convenient for you. This could be your residence, a coffee shop, a bookstore, or a library.

        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>I’m not sure I trust this mentors/tutors – it might be a scam.</div>
      <div class="collapsible-body">
        <p>
          If you’re concerned about a mentors/tutors, feel free to utilize a different mentors/tutors. While the vast majority of our users are honest people, people have occasionally tried to use our site for scams, much like happens on other websites such as Craigslist or Facebook.

          <br> <br>
          <b><u>Exchanging email with their university account is an excellent way to use. </u></b>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>I have a client account. How can I register as a mentors/tutors?</div>
      <div class="collapsible-body">
        <p>
          Go on to your "Edit Profile", and you will see a select option to change your status.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I pay the mentor/tutor? What forms of payment do you accept?</div>
      <div class="collapsible-body">
        <p>
          We stay out of the billing process and let you deal directly with the mentor/tutor for payment, so whatever the mentor/tutor is willing to accept is okay with us. Usually this means cash or check are perfectly fine. Many mentors/tutors also accept Paypal payments (which allows you to use a credit or debit card). You can always check with your mentors/tutors if you are not sure.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Can two students share a mentors/tutors?</div>
      <div class="collapsible-body">
        <p>
          Probably, but it's up to the mentor/tutor. If its just two students, its typically not a problem and they can split the bill to save some money. But if you'd like to bring the whole class to the session you might need to negotiate a different rate with the mentor/tutor.

        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>What if I don't like the mentor/tutor?</div>
      <div class="collapsible-body">
        <p>
          If you didn't get any value out of the mentor/tutoring session, you can discuss a refund with your mentors/tutors (it is up to them). Many mentors/tutors also offer a money back guarantee on the first session. The good news is that there are no long term contracts or blocks of hours that you need to buy, so you can stop working with a mentors/tutors at any time. The best way to proceed is to try it for an hour and if it's not a good match then simply part ways. There are a wide variety of mentors/tutors so feel free to shop around before deciding. By interviewing the mentor/tutor on the phone before meeting you can usually determine if it will be a good fit.

        </p>
      </div>
    </li>

  </ul>
</div>
