<!-- -->
<!-- -->

<div class="container" style="margin-top:2rem;">
  <div class="row">
  <div class="col s12 l6 offset-l3">
    <ul class="tabs">
      <li class="tab col s6 l6"><a class="active" href="#test1">Mentors</a></li>
      <li class="tab col s6 l6"><a href="#test2">Mentees</a></li>

    </ul>
  </div>


  <div id="test1" class="col s12 l10 offset-l1">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>

          Am I old enough or qualified enough to tutor?
        </div>
        <div class="collapsible-body">
          <p>
            Tweedlemate.com does not actually hire mentor/tutors as employees, independent contractors, or otherwise, so we can't answer this question. We simply provide a website where people can find each other, so how you use the service is up to you as long as you do so within the law.

          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>How does this work?</div>
        <div class="collapsible-body">
          <p>
            You can sign up on our website if you would like to find mentoring jobs and
            earn some extra income. It is <b><u>absolutely free</u></b> to sign up and unlike most
             mentoring/tutoring companies, we do not take a percentage of what the student pays.
             <br><br>

             You get paid directly by the student and keep 100%!

<br><br>
             The first step is to create a tutor account.

  Once you have created your account and filled it out completely, your profile will be public on our site.
  This means your tutor profile will show up in search results as
  parents and students come to our site to look for mentors/tutors.
  (Note: after completing your profile our team will review your profile
  and delete if an appropriate.)      <br><br>

  If a parent or student would like to hire you for a mentoring/tutoring job,
  they will send a message.  <br><br>

  You will get an email notification that someone
  is interested in hiring you.  <br><br>

  At that point it is up to you to decide whether to work with them or not.
  You choose how much you want to charge per hour and
  handle all scheduling and payments directly with the student.  <br><br>
  You can get paid however you would like by the student (cash, check, Paypal, etc).

  After meeting with a student, they can leave you a review by logging
  into their account. The review will
  show up on your profile to help you build your experience and reputation on the site.
  Mentors/Tutors with positive reviews can typically charge more per hour
  and receive more job requests.
  <br><br>
  Finally, it is worth mentioning that we take your privacy
  very seriously and will never share your contact information with potential
  students. Students will only have your contact information if you choose to re
  spond to their inquiry.

  <!-- In addition, the street address field and photo
   are optional on profiles.
   If you do not want to show your exact location you can use a
   nearby intersection or leave the street address blank (
   in which case we will approximate your location on the map). -->

  In summary, Tweedlemate.com is a great way find people who are
  interested in hiring you for tutoring jobs and make some extra money!
  Mentoring/Tutoring is one of the most lucrative and rewarding part-time jobs out there,
  and we are really excited to provide a website where so many people can connect
  with each other. We really believe that this is the future of the tutoring industry
  (people connecting online) and we would love to have you join us! To get started you
  can sign up as a tutor <a href="/sign_up">here</a>.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>How can I sign up to be a tutor?</div>
        <div class="collapsible-body">
          <p>
            You can sign up to be a tutor <a href="/sign_up">here</a>.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>I'm an international student, can I be a tutor with my F1/J1/M1 student visa?</div>
        <div class="collapsible-body">
          <p>
            Tweedlemate.com does not actually hire mentors/tutors as employees, independent contractors, or otherwise so we can't answer this question. We simply provide a website where people can find each other so how you use the service is up to you as long as you do so within the law.

          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>
          How do I get paid?

        </div>
        <div class="collapsible-body">
          <p>
            You get paid directly by the student. Tweedlemate.com is not involved in any transactions between mentors/tutors and students. This means that you can get paid however is most convenient for you and (unlike most tutoring companies) we will never take a percentage of your earnings.

Most mentors/tutors accept cash or check. Some mentors/tutors also send invoices to students via Paypal. This allows the student to pay by credit card and for you to deposit funds directly to your bank account.

Also note that since you are not being paid by Tweedlemate.com, you are not an employee or independent contractor of Tweedlemate.com and we will not withhold or report any taxes for you. It's up to you to track this as a self-employed person.

          </p>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>What should I do if the student refuses to pay?</div>
        <div class="collapsible-body">
          <p>
            While the vast majority of tutoring sessions work out well for both parties, occasional non-payment is an unfortunate risk of the tutoring business (as with many other businesses).

Follow up at least once by phone and once by email to politely request payment. Many people simply get busy and bills have a way of being forgotten unless you remind them.

Perhaps the best way to avoid non-payment is to never do more than one hour of tutoring with a new client before getting paid. This will cut your losses if you do end up working with a student who is not honest.

Many mentor/tutors have an unofficial money back guarantee on the first hour of tutoring anyway. In effect, the first session is about seeing if it is a good match for both the student and the tutor. If the student decides to disappear and not pay after the first session, then it would not have worked out anyway. At least your time has now been freed up to find quality students who will value your tutoring services and compensate you for them.

As a general rule, be more cautious with students who contact you asking for "last minute" help before their test tomorrow, or students who email you their assignment, essentially asking you to do it for them. In our experience, these students are less likely to pay because they were just looking for a quick fix and didn't truly want to learn the material. This is especially true if you never actually meet the student in person and only converse with them online or by phone.

The most profitable students that you can find as a tutor are the ones who will meet with you on a regular basis, week after week. These "regular customers" will contribute much more to your bottom line and you can be sure they will pay on time (otherwise you wouldn't keep working with them). A tutor who is welcome around the house and practically a friend of the family is much less likely to be cheated out of money. These are the sort of students who you should ideally seek out.

Finally, if you have a complaint about any specific student on our site, you can email support and describe the problem you are having. We do take action against specific students who are not using the site honestly.

          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>This client is difficult.</div>
        <div class="collapsible-body">
          <p>
            With Tweedlemate.com, you’re running your own business, so you can choose how to do so! Tweedlemate.com is in no position to tell you who to work with.

          </p>
        </div>
      </li>
    </ul>
  </div>




  <%= render 'shared/faq_mentee' %>


  </div>
</div>

<!-- -->
<!-- -->
