<div class="mentor_container">
  <div class="container">
    <div class="row">


      <a href="/users/176">
        <div class="col s6 m6 l3">
          <div class="card-panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="black-text center-align">
                  Karan Bhagat
                </div>
                <div class="univ_name center-align">
                  University of Copenhagen
                </div>
                <div class="center-align" style="color:#26a69a;">
                  From India
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/users/25">
        <div class="col s6 m6 l3">
          <div class="card-panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('jeewon.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/jeewon.jpg" alt="" class="circle responsive-img profile_img"> -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="black-text center-align">
                  Jeewon So
                </div>
                <div class="univ_name center-align">
                  Columbia University(Grad)
                </div>
                <div class="center-align" style="color:#26a69a;">
                  From S.Korea
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/users/136">
        <div class="col s6 m6 l3">
          <div class="card-panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('francois.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/francois.jpg" alt="" class="circle responsive-img profile_img"> -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="black-text center-align">
                  François Rullière

                </div>
                <div class="univ_name center-align">
                  Ecole des Mines d'Alès
                </div>
                <div class="center-align" style="color:#26a69a;">
                  From France
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="/users/181">
        <div class="col s6 m6 l3">
          <div class="card-panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('yoyo.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/yoyo.jpg" alt="" class="circle responsive-img profile_img">  -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="black-text center-align">
                  Wing Yiu
                </div>
                <div class="univ_name center-align">
                  University of Melbourne
                </div>
                <div class="center-align" style="color:#26a69a;">
                  From Hong Kong
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>



    </div>

  </div>

</div>
