<!-- -->
<!-- -->

<div class="container" style="margin-top:2rem;">

  <div class="row">
  <div class="col s12 l6 offset-l3">
    <ul class="tabs">
      <li class="tab col s6 l6"><a class="active" href="#test3">Mentor Guide</a></li>
      <li class="tab col s6 l6"><a href="#test4">Mentee Guide</a></li>

    </ul>
  </div>


  <div id="test3" class="col s12 l8 offset-l2">
    <div class="" style="margin-top:2rem;">


      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            01
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Get Contacted
            <div class="guide_line" style="">
              #Create a detailed profile to get connected
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            02
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Make an Appointment
            <div class="guide_line" style="">
              #Decide when and how you will talk(online/offline)
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            03
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Give honest help
            <div class="guide_line" style="">
              #Assist them with their study
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            04
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Share Experience
            <div class="guide_line" style="">
              #Tell them your experience in their dream school
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- -->
  </div>
  <div id="test4" class="col s12 l8 offset-l4">
    <div class="" style="margin-top:2rem;">

      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            01
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Search
            <div class="guide_line" style="">
              #Find a mentor of your interest
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            02
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Send Message & Inquire
            <div class="guide_line" style="">
              #Ask them what you need help with
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            03
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Make an Appointment
            <div class="guide_line" style="">
              #Decide when and where to talk
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            04
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Action
            <div class="guide_line" style="">
              #Follow mentor's advice
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s2 l2">
          <div class="right-align numbering" style="font-size:2rem;padding-right:1rem;">
            05
          </div>
        </div>
        <div class="col s9 l9">
          <div class="guide" style="">
            Write Thank you Note
            <div class="guide_line" style="">
              #Tell them how helpful they were
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  </div>
</div>
<!-- -->
<!-- -->
<!-- -->
