
<!-- Card -->
<!-- Card -->
<!-- Card -->
<!-- Card -->
<!-- Card -->
<!-- Card -->

<div class="mentor_back">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <h5 class="header center" style="margin-top:1.5rem;">Connect with real students</h5>
      <a href="/users/25">
        <div class="card hoverable">
          <div class="card-content" style="height:9rem;color:#fff;background-color:#ef9a9a;">
            <!-- <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="border-radius:50%;width:20%;display:block;float:left;"> -->
            <%= image_tag('qjeewon.jpg', :class => "circle responsive-img", :style => "border-radius:50%;width:20%;display:block;float:left;" )%>

            <div style="width:70%;float:right;background-color:#ef9a9a;">
              <span style="font-size:1.6rem;font-weight:700;">Jeewon So</span>
              <span style="font-size:1.2rem;color:#a94442;font-weight:700;">$50/hr</span>
              <br>PhD in Nutritional and Metabolic Biology

            </div>
          </div>

          <div class="card-action">
            <span style="font-size:.8rem;">
              Self-Intro :
            </span>
            <br>
            <span style="font-size:.8rem;font-weight:600;">
              Currently I am enrolled in a PhD program at Columbia Universtiy, NY.
              I'd love to meet new friends and help out perspective students!

            </span>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="row">
    <div class="col s3 l1 offset-l3" style="padding:0 0;">
      <%= image_tag('smile.jpg', :class => "circle responsive-img", :style => "width:50%;display:block;margin:0 auto;" )%>

      <!-- <img src="/assets/smile.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;">  -->
      <!-- notice the "circle" class -->

    </div>
    <div class="col s9 l3 " style="padding:0 0;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
        Hi, my name is Christine, a NYU graduate currently preparing for PhD in Nutrition. Is there any chance we could meet for an hour of consulting? I'd like to <b><u>fix my SOP</u></b> and <b><u>practice the interview</u></b>. Thank you
      </div>

    </div>
  </div>
  <div class="row">

    <div class="col s9 l3 offset-l5" style="padding:0 0;margin-bottom:3rem;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
Hi, its my third year in Nutritional and Metabolic Biology at Columbia Graduate School of Arts, and Science. Are you in NYC now? I will do my best to help you out. Let's get a cup of coffee soon :)
      </div>

    </div>
    <div class="col s3 l1" style="padding:0 0;">
      <%= image_tag('qjeewon.jpg', :class => "circle responsive-img", :style => "width:50%;display:block;margin:0 auto;" )%>

      <!-- <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;"> -->
       <!-- notice the "circle" class -->

    </div>
  </div>
</div>
