
<div class="about z-depth-4">
  <div class="center about_title" style="font-size:2.7rem;position:relative;">
    <!-- Create an academic opportunity for everyone -->
    Our Vision

    <div class="center" style="font-size:1.6rem;">
      Create an academic opportunity for everyone
      <!-- #Making coincidence into consequence -->

    </div>

  </div>
</div>
<%= render 'shared/guidelines' %>
<!-- <div class="container">
  <div class="row">
    <div class="col l2 offset-l2" style="font-size:2rem;">Our Mission:</div>
    <div class="col l6"><div class="mission">
      Making university admission from  <br>
      <span style="color:#e57373;font-weight:600;">coincidence</span> to <span style="color:#e57373;font-weight:600;">consequence</span>

    </div></div>
  </div>
</div> -->
<div class="row">

  <div class="col s10 offset-s1 l8 offset-l2">
    <div class="" style="">
        <div class="about_set">
          <div class="about_ttl">
            Our Mission

          </div>
          <div class="about_cnt" style="font-size:1.5rem;">
            Making university admission from <span style="color:#f44336;font-weight:600;">coincidence</span> to <span style="color:#f44336;font-weight:600;">consequence</span>

          </div>
        </div>
        <div class="about_set">
          <div class="about_ttl">
            Problem we want to solve
          </div>
          <div class="about_cnt">
            The frustration that people have when they step into a new environment
          </div>
        </div>
        <div class="about_set">
          <div class="about_ttl">
            Our story

          </div>
          <div class="about_cnt">
            <p>
              Back in high school, applying for universities was a vague process. <br>
      There were private consultants that help applicants,
      but they are often too expensive <br> and never went to where I wanted to apply. <br> <br>

      How could they advise us when they have never been there?  <br><br>

      Then I thought, “It would be much easier if I had an older sister or brother who's already there.”  <br><br>

      Tweedlemate.com is made for that purpose.   <br>
      For you to find people who you can talk to personally,  <br>
      and get advices from their own experiences.
            </p>

          </div>
        </div>
        <div class="about_set">
          <div class="about_ttl">
            What you can ask
          </div>
          <div class="about_cnt">
            Proofreading Essays, Practice Interview,  <br>
      How to study SAT, ACT, IB, GRE, etc  <br>
      Anything related to their university  <br><br>

      Through Tweedlemate, basically you are buying an hour of their time.

          </div>
        </div>
        <div class="about_set">
          <div class="about_ttl">
            Our Belief

          </div>
          <div class="about_cnt" >
            We truly believe that you can do anything <br> if you can just find the right people
            to help you along the way. <br><br>
            Helping you connect with those people is what motivates us every day. <br>
      Everyone deserves to study at wherever they want to. <br>Just need the right guidance to get there.



          </div>
        </div>




    </div>
  </div>
</div>
