<div class="about z-depth-4">
  <div class="center about_title" style="font-size:2.7rem;position:relative;">
    Create an academic opportunity for everyone
    <div class="center" style="font-size:1.6rem;">
      #Making coincidence into consequence

    </div>

  </div>
</div>
