// .about {
//   background-image: image-url("oceansm.jpg");
//   background-size: 100%;
//   background-position: center center;
//   background-repeat:   no-repeat;
//   width:100%;
//   margin:0 auto;
//
//   .about_content {
//     width:90%;
//     margin:.5rem auto;
//     background-color: #fff;
//     border-radius: .5rem;
//     color: #2c3135;
//     font-size: 1.7rem;
//     padding: 2rem;
//     opacity: .9;
//   }
// }

.about {
  background-color: transparent;
  background-image: image-url("teens.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  padding: 0;
  height: 300px;
  position: relative;
  font-weight: 900;
  text-shadow: 2px 2px #2c3135;
  .about_title {
    @media only screen and (min-width: 992px) {
      top:10rem;
    }

    @media only screen and (min-width: 600px) and (max-width: 992px) {
      top:9rem;
    }
    @media (max-width: 600px) {
      top:9rem;

    }

  }


  image {
    filter: brightness(50%);
  }
}

.about_ttl {
  font-size: 1.5rem;
  text-decoration: underline;
  // color: #e57373;
  color: $basic;
  font-weight: 600;

}
.about_container {
  width:60%;
}

.about_cnt {
  // font-weight: 600;
  font-size: 1rem;

}
.about_set {
  padding: 1rem;
  margin: 2rem 0;
  // border-radius: .5rem;
  border-bottom: 2px solid #78909c;
}

.team {
  // border-bottom: 2px solid #78909c;
}
.mission {
  font-size: 2rem;
  // color: $basic;

}
