.profile_img {
  margin:0 auto;
  display: block;
  overflow: hidden;

  @media only screen and (min-width: 992px) {
    height: 14rem !important;
    width:100% !important;

  }

  @media only screen and (min-width: 600) and (max-width: 992px) {
    // height: 14rem;

  }

  @media (max-width: 600px) {
    // height: 14rem;

  }

}
.mentor_container {
  background-color: #fee;
  padding:2rem 0;
}
.univ_name {
  color: #a94442;
  font-weight: 600;
  font-size: 1.2rem;
}
