// _testimonial_back

.profile_img {
  margin:0 auto;
  display: block;
  overflow: hidden;

  @media only screen and (min-width: 992px) {
    height: 9rem !important;
    width:100% !important;

  }

  @media only screen and (min-width: 600px) and (max-width: 992px) {
    height: 14rem;

  }

  @media (max-width: 600px) {
    height: 14rem;

  }

}
.mentor_container {
  background-color: #fee;
  padding:2rem 0;
}
.univ_name {
  color: #e57373;
  font-size: .9rem;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .mentor_panel {
    height: 20rem !important;

  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .mentor_panel {
    height: 25rem !important;
  }
}

@media (max-width: 600px) {
  .mentor_panel {
    height: 20rem !important;

  }
}

.price {
  color:#a94442;
  font-weight: 600;

}
