@media only screen and (min-width: 992px) {
  .country_img {
    height: 10rem;
    overflow: hidden;
  }
  .card .card-title {
    font-size: 2.5rem !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .country_img {
    height: 10rem;
    overflow: hidden;
  }
  .card .card-title {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 600px) {
  .card .card-title {
    font-size: 1.3rem !important;
  }
  .country_img {
    max-height: 5rem;
  }
}
.card {
  &:hover {
    // filter: brightness(0%);

    // opacity: .5;
    color: #333;
  }
}
.card .card-image .card-title {
  &:hover {
    color: #ddd;

  }

}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("/assets/whitehouse.jpg");
  &:hover {
    // opacity: .5;
    // background: darken(#feb65e, 15%);

  }

  @media only screen and (min-width: 992px) {
    height: 21.5rem;

      }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      min-height: 8rem;

    }
    @media (max-width: 600px) {
      min-height: 8rem;

    }
}
